.DS_Store

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/base/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/display/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/display/ui/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/event/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/novus/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/plugins/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/sound/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/util/

# /Projects/ExstoEngine/lib/exstoengine/build/current.min/world/

# /Projects/ExstoEngine/utilities/

# /Projects/assets/

/Projects/ExstoEngineAndroid/bin
/Projects/ExstoEngineAndroid/gen

.project
.settings
