body
{
	background: #000000;
}

.toolbar-panel
{
	background-color: #232627;
	font-family: Trebuchet MS, Vrinda, Verdana, sans-sarif;
    font-size: 14px;
    color: #fdbb6e;
    padding: 5px;
}

#logo
{
    background: url(../content/images/logo.png) no-repeat;
    width: 305px;
    height: 73px;
    display: inline-block;
}

.game-panel
{
	background: #222222;
}

#sidebar
{
	background: #CCCCCC;
	width: 300px;
	height: 100%;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

//================================
// Layer View
// =========================================
.x-layer-list {
    padding: 5px;
}

.x-layer-list div {
	padding: 5px;
	cursor: pointer;
	font-family: 'Droid Sans', sans-serif;
	border-bottom: 1px solid #777;
	height: 35px;
	line-height: 25px;
}

.x-layer-list .x-item-selected {
	font-weight: bold;
	background-color: #ccc;
}

.x-layer-list div img {
	vertical-align: middle;
	margin-right: 5px;
}

.x-layer-list div input[type="checkbox"] {
	margin-right: 5px;
}
